In [1]:
import mne 
import os
import mne 
from mne.io import read_raw
import numpy as np
import pandas as pd
from utility_funs import get_seizure_mask, get_seizure_sequence, assign_seizures

In [2]:
seizure_mask = get_seizure_mask("data")
seizure_mask.head()

      file_name  seizure_mask
0  chb11_01.edf         False
1  chb11_02.edf         False
2  chb11_03.edf         False
3  chb11_04.edf         False
4  chb11_05.edf         False

In [3]:
seizure_sequence = get_seizure_sequence("data")
seizure_sequence.head()

      file_name  number_of_seizures  seizure_start  seizure_end
0  chb11_82.edf                   1          298.0        320.0
1  chb11_92.edf                   1         2695.0       2727.0
2  chb11_99.edf                   1         1454.0       2206.0
3  chb16_10.edf                   1         2290.0       2299.0
4  chb16_11.edf                   1         1120.0       1129.0

In [19]:
raw = mne.io.read_raw_edf("data/chb12/chb12_27.edf", preload=False, verbose="ERROR")

raw_df = raw.to_data_frame()

raw_df["file_name"] = "chb12_27.edf"

In [20]:
raw_df.tail()

,time,F7-CS2,T7-CS2,P7-CS2,--0,FP1-CS2,F3-CS2,C3-CS2,P3-CS2,O1-CS2,...,F8-CS2,T8-CS2,P8-CS2,--4,C2-CS2,C6-CS2,CP2-CS2,CP4-CS2,CP6-CS2,file_name
921595,3599.980469,64.273504,79.120879,81.465201,-1.0,45.518926,108.815629,104.908425,152.967033,74.822955,...,47.863248,54.505495,82.637363,-1.0,78.730159,90.061050,155.702076,176.800977,137.338217,chb12_27.edf
921596,3599.984375,59.584860,76.776557,81.855922,-1.0,49.035409,106.471306,96.703297,147.496947,79.120879,...,52.942613,58.803419,83.028083,-1.0,83.028083,97.484737,155.311355,178.363858,144.371184,chb12_27.edf
921597,3599.988281,58.803419,79.902320,88.888889,-1.0,54.114774,104.517705,94.749695,146.324786,83.809524,...,61.929182,64.273504,90.451770,-1.0,87.716728,108.424908,156.874237,182.661783,158.046398,chb12_27.edf
921598,3599.992188,63.101343,86.153846,95.921856,-1.0,59.975580,103.736264,92.796093,142.026862,83.028083,...,63.492063,60.366300,94.749695,-1.0,90.451770,120.927961,155.702076,186.568987,170.549451,chb12_27.edf
921599,3599.996094,59.975580,83.809524,95.531136,-1.0,58.412698,92.405372,80.683761,128.351648,71.306471,...,58.021978,65.836386,97.484737,-1.0,81.465201,127.179487,140.463980,183.443223,177.191697,chb12_27.edf

In [21]:
print(raw_df.shape)

(921600, 31)

In [22]:
x = assign_seizures(raw_df, "time", seizure_sequence)

In [24]:
x.head()

In [25]:
x.tail()

,time,F7-CS2,T7-CS2,P7-CS2,--0,FP1-CS2,F3-CS2,C3-CS2,P3-CS2,O1-CS2,...,T8-CS2,P8-CS2,--4,C2-CS2,C6-CS2,CP2-CS2,CP4-CS2,CP6-CS2,file_name,seizure_sequence
683260,2668.984375,2.930403,-21.294261,-24.420024,-1.0,-8.400488,-18.949939,-44.346764,-33.797314,-5.274725,...,-29.890110,-94.749695,-1.0,-49.816850,-54.505495,-54.505495,-401.074481,-59.975580,chb12_27.edf,True
683261,2668.988281,-7.228327,-36.532357,-37.313797,-1.0,-17.387057,-33.015873,-55.677656,-50.598291,-25.982906,...,-71.697192,-106.080586,-1.0,-68.571429,-64.664225,-70.915751,-406.153846,-66.617827,chb12_27.edf,True
683262,2668.992188,0.195360,-27.936508,-24.420024,-1.0,-11.526252,-26.764347,-47.472527,-49.035409,-25.592186,...,-75.995116,-102.173382,-1.0,-70.915751,-65.054945,-67.008547,-399.120879,-64.664225,chb12_27.edf,True
683263,2668.996094,5.274725,-18.949939,-16.214896,-1.0,-4.102564,-16.996337,-36.532357,-38.095238,-18.559219,...,-63.101343,-82.246642,-1.0,-74.822955,-71.697192,-62.319902,-395.213675,-67.008547,chb12_27.edf,True
683264,2669.000000,2.148962,-18.559219,-22.857143,-1.0,-1.367521,-15.433455,-36.532357,-32.625153,-14.652015,...,-41.221001,-72.869353,-1.0,-80.293040,-77.167277,-63.101343,-393.260073,-65.054945,chb12_27.edf,True